- var assets = function(name) { return "/assets/" + name }
- var img = function(name) { return "/assets/img/" + name }
- var fonts = function(name) { return "/assets/fonts/" + name }
- var video = function(name) { return "/assets/video/" + name }
