- var assets = function(name) { return "/assets/" + name }
- var i = function(name) { return "/assets/i/" + name }
- var f = function(name) { return "/assets/f/" + name }
- var v = function(name) { return "/assets/v/" + name }
