mainFont = 'Avenir Next', sans-serif

brandColor = #f460a3
siteColor = #434343

mdWidth = 1240px
smWidth = 1000px

tabletWidth = 768px

md = "(min-width: " + mdWidth + ")"
sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"

desktop = "(min-width: " + smWidth + ")"
tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (smWidth - 1) + ")"
tablet_desktop = "(min-width: " + tabletWidth + ")"
tablet_sm = "(min-width: " + tabletWidth + ") and (max-width: " + (mdWidth - 1) + ")"

phone = "(max-width: " + (tabletWidth - 1) + ")"
phone_tablet = "(max-width: " + (smWidth - 1) + ")"
