{
  "extends": [
    "airbnb/base"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", "tab"],
    "no-tabs": 0
  }
}
