//.some-test-class
//  color blue
//  background url('../../assets/img/cat.jpg')
//  background url('/assets/img/cat.jpg')

//.trololo
//  background url('../../assets/img/icon.svg')

span
  color blue
