div This is article !
//- img(src='/assets/img/cat-2.jpg', alt="", height="200" width="200")
//- a(href="https://github.com/webpack/loader-utils") TEST
//- div(style="background: url(assets/img/cat-2.jpg) no-repeat center; height: 100px; width: 100px;")
