mainFont = 'Open Sans', sans-serif

siteColor = #000000

lgWidth = 1600px
mdWidth = 1240px
smWidth = 1000px

tabletWidth = 768px
tabletHeight = tabletWidth
phoneHeight = 380px

lg = "(min-width: " + (lgWidth) + ")"
md = "(min-width: " + mdWidth + ")"
sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"

desktop = "(min-width: " + smWidth + ")"
tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (smWidth - 1) + ")"
tablet_desktop = "(min-width: " + tabletWidth + ")"
tablet_landscape = "(max-height: " + (tabletHeight) + ") and (max-width: " + (mdWidth - 1) + ")"
phone = "(max-width: " + (tabletWidth - 1) + ")"
phone_landscape = "(max-height: " + (phoneHeight - 1) + ")"
phone_tablet = "(max-width: " + (smWidth - 1) + ")"
