.footer
	color #999
	text-align center
	&__date
		color #555
	&__link
		color #222
		text-decoration none
		border-bottom 1px solid lighten(@color, 50)
		&:hover
			color #555
			border-bottom-color lighten(@color, 50)
