//---
	layout: layouts/main
	title: "Styles"
//---

.container
	h1 Заголовок H1 <small>(44px)</small>
	h2 Заголовок H2 <small>(36px)</small>
	h3 Заголовок H3 <small>(26px)</small>
	h4 Заголовок H4 <small>(22px)</small>
	h5 Заголовок H5 <small>(20px)</small>
	h6 Заголовок H6 <small>(18px)</small>
	br
	h2 Иконки
	mixin icon(name)
		p
			span(class=`${name}`, style="font-size: 32px; display: inline-block; vertical-align:middle;")
			| &#32;
			code .
				= name
