.btn
	display inline-block
	font-weight normal
	text-align center
	white-space nowrap
	vertical-align middle
	user-select none
	font-size 16px
	line-height 1.5
	&:hover
	&:focus
		text-decoration none
	&:focus
		outline 0
	&:disabled
		opacity 0.65
	&:not(:disabled)
		cursor pointer
	&:not(:disabled):active
		background-image none
