@import 'typo.styl'
@import 'helpers.styl'
@import 'buttons.styl'
@import 'forms.styl'
@import 'grid.styl'


*
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%
	// adjust font size
	font-size 100%
	-webkit-text-size-adjust 100%
	// font varient
	font-variant-ligatures none
	-webkit-font-variant-ligatures none
	// smoothing
	text-rendering optimizeLegibility
	-moz-osx-font-smoothing grayscale
	font-smoothing antialiased
	-webkit-font-smoothing antialiased
	text-shadow rgba(0, 0, 0, .01) 0 0 1px

body
	position relative
	font-family mainFont
	font-size 16px
	line-height 1.5
	color siteColor

img
.image-render
	image-rendering -webkit-optimize-contrast
