@import 'typo.styl'
@import '../../globals/variables.styl'
@import '../../globals/mixins.styl'
@import 'helpers.styl'
@import 'buttons.styl'
@import 'forms.styl'
@import 'grid.styl'


*
	font-smoothing antialiased
	box-sizing border-box
	&:before
	&:after
		box-sizing border-box

html
body
	margin 0
	padding 0
	height 100%

body
	position relative
	font-family mainFont
	font-size 16px
	line-height 1.5
	color siteColor
	background #eceff1 url("assets/img/cat.jpg") no-repeat center
	background-size cover
