@font-face {
	font-family: 'Open Sans Regular';
	src: url('/assets/fonts/open-sans/open-sans-regular.eot') format('embedded-opentype'),
		 url('/assets/fonts/open-sans/open-sans-regular.woff') format('woff'),
		 url('/assets/fonts/open-sans/open-sans-regular.ttf') format('truetype');
}
