extends main

block main
  +b.text._bar._baz: +i({
    field_1: "someString",
    field_2: 123456,
    field_3: [1,2,3,4,5,6],
    field_4: {
      obj_field_1: 7890,
      obj_field_2: "anotherString"
    }
  })

  +b.header: +i

  img(src='/assets/img/cat.jpg' alt='')
  //-img(src='http://placehold.it/350x150' alt='')
