extends root

block root
  main.main
    block main

block fonts
  //-link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet")

block styles
  //-
    if isProduction
      link(rel="stylesheet" href="assets/main.min.css")

block scripts
  //-script(src="assets/main.min.js")

block analytics
