include ../vendor/bemto/bemto.pug

- var file = htmlWebpackPlugin.options.getLocalData()
- var global = htmlWebpackPlugin.options.getGlobalData()

doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(name="theme-color" content="#1073fb")
    if file.title
        title!= file.title
    block styles

  body
    block root

    block fonts
    block styles
    block scripts
    block analytics
