include ../globals/commons
include ../../node_modules/verstat-bemto/bemto-tabs


doctype html
html
	head
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		meta(name="theme-color" content="#56943E")
		link(rel="shortcut icon" href=assets("img/favicon.png?v=1"))
		if file.title
			title!= file.title
		block styles

	body
		block root
			!= content

		block fonts
		block scripts
		block analytics
